<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8'>
    <title> mail de Bienvenue </title>
  </head>
  <body>
    <h1> Salut <%= @user.first_name %> et bienvenue ! </h1>
    <p> tu es inscrit à notre site avec cette addresse : <%= @user.email %> </p>

  </body>
</html>
