<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8'>
    <title> mail de Bienvenue </title>
  </head>
  <body>
    <h1> Salut <%= @admin.first_name %> </h1>
    <p>L'utilisateur <%= @attendance_user.first_name %> s'est inscrit à ton event <%= @attendance_event.title %> </p>
  </body>
</html>
