<center>
Informations concernant les users
</center>

<body>
  <% content_for(:side_bar) do %>
<div id="page-content-wrapper">

  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <hr>
  <div class="container bootstrap snippet">
      <div class="row">
          <div class="col-lg-12">
              <div class="main-box no-header clearfix">
                  <div class="main-box-body clearfix">
                      <div class="table-responsive">
                          <table class="table user-list">
                              <thead>
                                  <tr>
                                  <th><span>User</span></th>
                                  <th><span>Created</span></th>
                                  <th><span>Email</span></th>
                                  <th>&nbsp;</th>
                                  </tr>
                              </thead>
                              <tbody>
                                <% @user.each do |user| %>
                                  <tr>

                                      <td>
                                          <a href="#" class="user-link"><%= user.first_name%></a><br>

                                          <% if user.admin? %>
                                          <span class="user-subhead"><i>Admin</i></span>
                                          <% else %>
                                          <span class="user-subhead"><i>Member</i></span>
                                          <% end %>
                                      </td>

                                      <td><%=user.created_at.strftime('%D')%></td>
                                      <td>
                                          <a href="#"><%= user.email %></a>
                                      </td>

                                      <td style="width: 20%;">
                                          <a href="#" class="table-link">
                                              <span class="fa-stack">
                                                  <i class="fa fa-square fa-stack-2x"></i>
                                                  <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                              </span>
                                          </a>
                                          <a href="#" class="table-link danger">
                                              <span class="fa-stack">
                                                  <i class="fa fa-square fa-stack-2x"></i>
                                                  <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                              </span>
                                          </a>
                                      </td>
                                  </tr>
                                <% end %>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<% end %>
